header {
  display: flex;
  padding: var(--space);
  background-color: rgba(255,255,255, 0.1);
  font-size: 18px;
  font-weight: bold;

  & .header_item {
    padding: 0 1rem;

    & a {
      text-decoration: none;
      color: var(--link-color);
      transition: .3s color ease;
    }

    &:last-child  a{
      color: var(--main-color);
    }

    & a:hover {
      color: var(--main-color);
      transition: .3s color ease;
    }

    &::after {
      content: "→";
      padding-left: 2rem;
    }

    &:last-child::after {
      content: '';
    }
  }

  & .header_item:first-child {
    padding-left: 0;
  }

  & .header_item:last-child {
    padding-right: 0;
  }
}
