/* You can add global styles to this file, and also import other style files */
:root {
  --space: 13px 33px;
  --main-bg: #000;
  --main-color: red;
  --link-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  color: var(--main-color);

  & h2 {
    line-height: 1.2;
  }

  & h3 {
    font-size: 22px;
  }

  & img {
    opacity: 0.75;
    transition: .3s opacity ease;

    &:hover {
      opacity: 0.95;
      transition: .3s opacity ease;
    }
  }
}

main {
  padding: var(--space);
  margin-top: 40px;
  margin-bottom: 40px;
}

.cards_preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  & > div {
    display: flex;
    padding: 10px 15px;
  }

  & .empty {
    padding: 0;
    margin: 0;
  }
}

.preview {
  display: grid;
  grid-template-columns: 25% 70%;
  padding: 20px 0;

  & img {
    max-width: 100%;
  }

  & p {
    font-size: 18px;
    line-height: 1.4;
  }

  & .preview_title {
    margin: auto;
  }

  & .preview_nav {
    display: flex;
    flex-direction: column;

    & a {
      padding-bottom: 15px;
      font-size: 20px;
      color: var(--link-color);
      text-decoration: none;
      transition: .3s color ease;
    }

    & a:hover {
      color: var(--main-color);
      transition: .3s color ease;
    }
  }
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 18px;
    text-align: center;
  }

  body img {
    max-height: 420px;
    width: auto;
  }

  .preview .preview_title {
    padding-left: 20px;
  }

  body h3 {
    font-size: 18px;
  }

  .preview .preview_nav a {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  body img {
    max-height: 360px;
  }

  .preview p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  body img {
    max-height: 320px;
  }

  h2 {
    font-size: 18px;
  }

  .preview {
    display: flex;
    padding: 15px 0;
  }

  .preview img {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --space: 8px 25px;
  }

  body img {
    max-height: 240px;
  }

  body h2 {
    font-size: 16px;
  }

  body h3,
  body p,
  body a,
  .preview .preview_nav a{
    font-size: 14px;
  }

  main {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cards_preview {
    margin-bottom: 50px;
  }
}
