/* You can add global styles to this file, and also import other style files */
:root {
  --space: 13px 33px;
  --main-bg: #000;
  --main-color: red;
  --link-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  color: var(--main-color);

  & img {
    opacity: 0.75;
  }
}

main {
  padding: var(--space);
  margin-top: 40px;
  margin-bottom: 40px;
}

.cards_preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;

  & > div {
    display: flex;
    padding: 10px 15px;
  }

  & .empty {
    padding: 0;
    margin: 0;
  }
}

.preview {
  display: grid;
  grid-template-columns: 25% 70%;
  padding: 20px 0;

  & img {
    max-width: 100%;
  }

  & p {
    font-size: 18px;
    line-height: 1.4;
  }

  & .preview_title {
    margin: auto;
  }

  & .preview_nav {
    display: flex;
    flex-direction: column;

    & a {
      padding-bottom: 15px;
      font-size: 20px;
      color: var(--link-color);
      text-decoration: none;
    }

    & a:hover {
      color: var(--main-color);
    }
  }
}
