<main>
  <div class="preview">
    <img [src]="'assets/image/'+card.image" [alt]="card.name" [title]="card.name">
    <div class="preview_title">
      <h2>{{nameCard}}:</h2>
      <p>{{card.prelude}}</p>
      <br>
      <h3>Навигация:</h3>
      <div class="preview_nav">
        <a [href]="pathname + '#yes_no'" *ngIf="card.yesNo != '' && card.yesNo">ДА - НЕТ</a>
        <a [href]="pathname + '#future'">НА БУДУЩЕЕ</a>
        <a [href]="pathname + '#situation'">НА СИТУАЦИЮ</a>
        <a [href]="pathname + '#relations'">НА ОТНОШЕНИЯ</a>
        <a [href]="pathname + '#think'">ЧТО ОН(-А) ДУМАЕТ ОБО МНЕ</a>
      </div>
    </div>
  </div>

  <app-block-info-card
    *ngIf="card.yesNo != '' && card.yesNo"
    [card] = card
    [idHtml] ="{value: 'yes_no'}"
    [titleContext] = "{value: 'yesNo'}"
    [h2Text]="{value: 'ДА - НЕТ:'}"
  ></app-block-info-card>

  <app-block-info-card
    [card] = card
    [idHtml] ="{value: 'future'}"
    [titleContext] = "{value: 'future'}"
    [h2Text]="{value: 'НА БУДУЩЕЕ:'}"
  ></app-block-info-card>

  <app-block-info-card
    [card] = card
    [idHtml] ="{value: 'situation'}"
    [titleContext] = "{value: 'situation'}"
    [h2Text]="{value: 'НА СИТУАЦИЮ:'}"
  ></app-block-info-card>

  <app-block-info-card
    [card] = card
    [idHtml] ="{value: 'relations'}"
    [titleContext] = "{value: 'relations'}"
    [h2Text]="{value: 'НА ОТНОШЕНИЯ:'}"
  ></app-block-info-card>

  <app-block-info-card
    [card] = card
    [idHtml] ="{value: 'think'}"
    [titleContext] = "{value: 'think'}"
    [h2Text]="{value: 'ЧТО ОН(-A) ДУМАЕТ ОБО МНЕ:'}"
  ></app-block-info-card>
</main>
