.preview {
  display: grid;
  grid-template-columns: 25% 70%;

  & img{
    max-width: 100%;
  }

  & p{
    font-size: 18px;
    line-height: 1.4;
  }

  & .preview_title{
    margin: auto;
  }

  & .preview_nav{
    display: flex;
    flex-direction: column;

    & a{
      padding-bottom: 15px;
      font-size: 20px;
    }
  }
}
